<div class="page-title">
  <h4>История заказов</h4>
  <button class="btn btn-small"
          (click)="isFilterVisible = !isFilterVisible"
          [ngClass]="{
            'active': isFilterVisible,
            'red': isFiltered()
          }"
          #tooltip
          data-position="left"
          data-tooltip="Открыть фильтр">
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter (onFilter)="applyFilter($event)"
  *ngIf="isFilterVisible"></app-history-filter>

<div *ngIf="!reloading; else reloadingBlock">
  <div *ngIf="orders.length; else empty">
    <app-history-list [orders]="orders"></app-history-list>

    <div class="center mb2" *ngIf="!loading; else loader" >
      <button *ngIf="!noMoreOrders"
              (click)="loadMore()"
              class="btn waves-effect grey darken-1 btn-small">Загрузить еще</button>
    </div>

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
  <ng-template #empty>
    <div class="center">
      <p>Заказов пока нет.</p>
    </div>
  </ng-template>
</div>
<ng-template #reloadingBlock></ng-template>
